<html>
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="bets.css">
</head>

<body>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="bet-controller.js"></script>
<script src="app.config.js"></script>
  <!-- Login form creation starts-->
  <section class="container-fluid">
    <!-- row and justify-content-center class is used to place the form in center -->
    <section class="row justify-content-center">
      <section class="col-12 col-sm-6 col-md-4">
        <form class="form-container"  ng-app="bet-app" ng-controller="bet-controller" ng-init="get_current_game()">
        <div class="form-group">
          <h4 class="text-center font-weight-bold"> Tupada | Betting Page </h4>

          <div class="form-footer text-center entry_label">
            YOU ARE LOGGED IN AS <strong>{{ username |uppercase }}</strong> | <a href="" ng-click="do_logout()">LOGOUT</a>
          </div>
        </div>
        <div class="form-group">
           <table width="100%">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td width="50%" class="entry_label">MY TOTAL BETS <h5>{{ teller_running_total_bets |number:2 }} </h5></td>
              <td width="50%" align="right" class="entry_label">MY TOTAL CASHOUT<h5>{{ teller_running_total_withdraw |number:2 }} </h5></td>
            </tr>
           </table>
        </div>
        <div class="form-group">
          <table width="100%" border="0">
            <tr>
              <input type="hidden" ng-model="cur_game_id" value="{{ game_id }}">
              <td colspan="3" class="game_label">CURRENT GAME [{{ game_id }}]</td>
            </tr>
            <tr ng-show="has_active == true;">
              <td width="48%" class="">
                <button type="button" class="btn btn-success btn-block wager_button" ng-click="do_bet_meron()">
                  <span class="entry_label">MERON</span><br>{{ meron_entry }}
                </button>
              </td>
              <td width="4%">&nbsp;vs&nbsp;</td>
              <td width="48%" class="">
                <button type="button" class="btn btn-danger btn-block wager_button" ng-click="do_bet_wala()">
                  <span class="entry_label">WALA</span><br>{{ wala_entry }}
                </button>
              </td>
            </tr>
            <tr ng-show="has_active == false;">
              <td width="48%" class="">
                <button type="button" class="btn btn-success btn-block wager_button" disabled>
                  <span class="entry_label">NO</span><br>ACTIVE GAME
                </button>
              </td>
              <td width="4%">&nbsp;vs&nbsp;</td>
              <td width="48%" class="">
                <button type="button" class="btn btn-danger btn-block wager_button" disabled>
                  <span class="entry_label">NO</span><br>ACTIVE GAME
                </button>
              </td>
            </tr>
            <tr>
              <td width="48%" class="total_meron"><h5>{{ meron_total_bets | number:2 }} </h5></td>
              <td width="4%"></td>
              <td width="48%" class="total_wala"> <h5>{{ wala_total_bets | number:2 }} </h5></td>
            </tr>
            <tr>
              <td colspan="3" class="game_label payout">
                PAYOUT PER HUNDRED
              </td>
            </tr-->
            <tr>
              <td width="48%" class="game_label total_meron">{{ meron_payout | number:2 }} </td>
              <td width="4%"></td>
              <td width="48%" class="game_label total_wala">{{ wala_payout | number:2 }} </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="number" placeholder="Enter Bet Amount" class="form-control" pattern="[0-9]*" ng-model="bet_amount">
              </td>
            </tr>
          </table>

        </div>
        <div class="form-footer" align="center">
          <span ng-model="page_message" class="page_message">{{ page_message |uppercase }}</span>
        </div>
        <div class="form-footer" align="center">
          <span class="footer_text">{{ company |uppercase }} | ALL RIGHTS RESERVE&trade; 2022</span>
        </div>
        </form>
      </section>
    </section>
  </section>
<!-- Login form creation ends -->
</body>
</html>
