/* Bordered form */
/* set entire body that is webpage */
body{
    background: #383a3d;
    padding-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* set form background colour*/
form{
    background: #fff;
}

/* set padding and size of th form */
.form-container{
    border-radius: 10px;
    padding: 30px;
}

.page_message{
    color: red;
    font-size: 14px;
}

a{
  text-decoration: none;
}

a:hover{
  font-weight: bold;
  text-decoration: none;
}

.meron_entry{
    text-align: center;
    background-color: green;
    color: white;
    height: 60px;
}

.wala_entry{
    text-align: center;
    background-color: red;
    color: white;
    height: 60px;
}

.total_meron{
    color: green;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.total_wala{
    color: red;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.payout{
    background-color: #f0f5f5;
}

.cashout_label{
    font-size: 12px;
    text-align: right;
}

.cvalue_label{
    font-size: 13px;
    text-align: left;
}

.game_label{
    text-align: center;
    height: 40px;
    font-size: 13px;
}

.wager_button{
    height: 60px;
    font-size: 13px;
}

.entry_label{
    font-size: 12px;
}

.footer_text{
    font-size: 8px;
}

.code_label{
    font-size: 12px;
}
