<html>
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="bets.css">
</head>

<body>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="cashout-controller.js"></script>
<script src="app.config.js"></script>
  <!-- Login form creation starts-->
  <section class="container-fluid">
    <!-- row and justify-content-center class is used to place the form in center -->
    <section class="row justify-content-center">
      <section class="col-12 col-sm-6 col-md-4">
        <form class="form-container"  ng-app="cashout-app" ng-controller="cashout-controller" ng-init="get_wager_data()">
        <div class="form-group">
          <h4 class="text-center font-weight-bold"> Tupada | Cashout Page </h4>

          <div class="form-footer text-center entry_label">
            <a href="" ng-click="close_cashout()">CLOSE</a>
          </div>
        </div>

        <div class="form-group">
          <table width="100%">
            <tr>
              <td colspan="3" class="game_label"></td>
            </tr>
            <tr>
              <td class="cashout_label">WAGER CODE</td>
              <td>&nbsp;</td>
              <td align="left" class="code_label"> {{ bet_id  }}</td>
            </tr>
            <tr>
              <td class="cashout_label">GAME ID</td>
              <td>&nbsp;</td>
              <td class="cvalue_label"> {{ game_code }}</td>
            </tr>
            <tr>
              <td class="cashout_label">WAGER</td>
              <td>&nbsp;</td>
              <td class="cvalue_label">{{ wager_on }}</td>
            </tr>
            <tr>
              <td class="cashout_label">AMOUNT</td>
              <td>&nbsp;</td>
              <td class="cvalue_label">PHP {{ bet_amount |number:2 }}</td>
            </tr>
             <tr>
              <td class="cashout_label">STATUS</td>
              <td>&nbsp;</td>
              <td class="cvalue_label">{{ status }}</td>
            </tr>
             <tr>
              <td class="cashout_label">PAYOUT</td>
              <td>&nbsp;</td>
              <td class="cvalue_label">PHP {{ payout_amount |number:2 }}</td>
            </tr>
            </tr>
             <tr>
              <td class="cashout_label">CASHOUT STATUS</td>
              <td>&nbsp;</td>
              <td class="cvalue_label">{{ pay_status }}</td>
            </tr>
            <tr>
              <td lign="right" colspan="3"><br></td>
            </tr>
            <tr ng-show="is_cashout_allowed == true">
              <td colspan="3">
                <button type="button" class="btn btn-primary btn-block" ng-click="do_cashout(bet_id)">Cashout</button>
              </td>
            </tr>
            <tr ng-show="is_cashout_allowed == false">
              <td colspan="3">
                <button type="button" class="btn btn-primary btn-block" disabled>Cashout Not Allowed</button>
              </td>
            </tr>
          </table>

        </div>
        <div class="form-footer" align="center">
          <span ng-model="page_message" class="page_message">{{ page_message |uppercase }}</span>
        </div>
        <div class="form-footer" align="center">
          <span class="footer_text">{{ company |uppercase }} | ALL RIGHTS RESERVE&trade; 2022</span>
        </div>
        </form>
      </section>
    </section>
  </section>
<!-- Login form creation ends -->
</body>
</html>
