/* Bordered form */
/* set entire body that is webpage */
body{
    background: #383a3d;
    padding-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/background.png");
    background-repeat: no-repeat, repeat;
    background-position: left; /* Center the image */
}
/* set form background colour*/
form{
    background: #fff;
    opacity: 0.95;
}
/* set padding and size of th form */
.form-container{
    border-radius: 10px;
    padding: 30px;
}

.page_message{
    color: red;
    font-size: 14px;
}

.body_text{
    font-size: 12px;
}

.footer_text{
    font-size: 8px;
}

.current_game{
    font-size: 25px;
    border-bottom: 4px double red;
    border: 4px solid red;
}

.meron{
    background-color: #87E36D;
    text-align: left;
}

.wala{
    background-color: #F5967F;
    text-align: left;
}

.row_text{
    font-size: 14px;
}
