/* Bordered form */
/* set entire body that is webpage */
body{
    background: #383a3d;
    padding-top: 15vh;
    font-family: Arial, Helvetica, sans-serif;
}
/* set form background colour*/
form{
    background: #fff;
}
/* set padding and size of th form */
.form-container{
    border-radius: 10px;
    padding: 30px;
}

.page_message{
    color: red;
}

.footer_text{
    font-size: 8px;
}


