<html>
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="bets.css">
</head>

<body>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="qr-controller.js"></script>
<script src="app.config.js"></script>

  <!-- Login form creation starts-->
  <section class="container-fluid">
    <!-- row and justify-content-center class is used to place the form in center -->
    <section class="row justify-content-center">
      <section class="col-12 col-sm-6 col-md-4" >
        <form class="form-container"  ng-app="qr-app" ng-controller="qr-controller" ng-init="generate_qrcode()()">
          <div  id="printable">
            <div class="form-group">
              <h4 class="text-center font-weight-bold"> Tupada | QR Code </h4>

              <div class="form-footer text-center entry_label">
                <a href="" ng-click="close_qrcode()">CLOSE</a>
              </div>
            </div>
            <div class="form-footer text-center entry_label">
                {{ bet_id }}
            </div>

            <div class="form-group" align="center"  >
                <img ng-src="{{qrCode}}"  alt='QR code'>
            </div>
          </div>
          <div class="form-group" align="center">
              <button ng-click="print_qr('printable')" class="btn btn-primary btn-block">PRINT</button>
          </div>
          <div class="form-footer">
            <span ng-model="page_message" class="page_message">{{ page_message |uppercase }}</span>
          </div>
          <div class="form-footer" align="center">
            <span class="footer_text">{{ company |uppercase }} | ALL RIGHTS RESERVE&trade; 2022</span>
          </div>
        </form>
      </section>
    </section>
  </section>

</body>
</html>
